<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.ipca.prematch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/prematch_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".main.TeamDetailStatsActivity"></activity>
        <activity android:name=".main.TournamentDetailStatsActivity" />
        <activity android:name=".main.TeamDetailGamesActivity" />
        <activity android:name=".main.GameNewActivity" />
        <activity android:name=".main.TournamentDetailGamesActivity" />
        <activity android:name=".main.PlayerDetailActivity" />
        <activity android:name=".main.TeamDetailPlayersActivity" />
        <activity android:name=".main.TeamDetailActivity" />
        <activity android:name=".main.TournamentDetailTeamsActivity" />
        <activity android:name=".main.TournamentDetailActivity" />
        <activity android:name=".login.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.TermsAndConditionsActivity" />
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".main.SettingsActivity" />
        <activity android:name=".main.PlayerNewActivity" />
        <activity android:name=".main.PlayerFavoritesActivity" />
        <activity android:name=".main.TeamNewActivity" />
        <activity android:name=".main.TeamFavoritesActivity" />
        <activity android:name=".main.TournamentNewActivity" />
        <activity android:name=".main.TournamentFavoritesActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>